Package: m23hwscanner
Version: 3.0-130
Section: base
Priority: optional
Architecture: all
Depends: bash, sed, coreutils, awk | gawk
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23hwscanner has 2 functions: 1. Scans the 
 hardware of the client and makes a server readable output.
 2. Generates fstab and lilo.conf from the partition table.
