Source: xorgconfig-knoppix
Section: knoppix
Priority: optional
Maintainer: Klaus Knopper <knopper@knopper.net>
Standards-Version: 3.5.2

Package: xorgconfig-knoppix
Architecture: all
Description: Xorg template config files and setup program for knoppix
 Template files and a shell script (mxorgconfig) for the KNOPPIX
 non-interactive setup of the Xorg graphics subsystem.
