Package: m23-mdk-base
Version: 16.4-100933
Section: base
Priority: optional
Architecture: all
Installed-Size: 256
Pre-Depends: debconf
Depends: bash, dialog
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit base package
 This package contains the basic parts of the MDK.
