Package: m23-roms
Version: 18.2-101166
Section: base
Priority: optional
Architecture: all
Installed-Size: 16
Pre-Depends: debconf
Depends: bash, m23
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: Etherboot boot roms for m23
 This packages contains boot ROMs for the Etherboot network boot standard.
