Package: m23-mdk-doc
Version: 13.2-100697
Section: base
Priority: optional
Architecture: all
Installed-Size: 22488
Pre-Depends: debconf
Depends: bash, dialog
Suggests: m23-mdk-screenshots
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit documentation
 Tools for creating the m23 documentation in HTML and PDF
 format and prebuilt HTML documentation.

