Package: m23-mdk-doc
Version: 16.3-100921
Section: base
Priority: optional
Architecture: all
Installed-Size: 23728
Pre-Depends: debconf
Depends: bash, dialog
Suggests: m23-mdk-screenshots, texlive-lang-french, texlive
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit documentation
 Tools for creating the m23 documentation in HTML and PDF
 format and prebuilt HTML documentation.

