Package: m23-ucs-extra
Version: 18.2-101119
Section: base
Priority: optional
Architecture: all
Pre-Depends: debconf
Installed-Size: 24
Depends: m23, apt-cacher-ng, php7.0-mysql, php7.0-curl
Maintainer: Hauke Goos-Habermann <hauke@goos-habermann.de>
Description: Installs and configures extra stuff on UCS 4.3+
