Package: opentracker-installer
Version: 1.00
Section: base
Priority: optional
Architecture: all
Pre-Depends: cvs, git, libc6-dev, zlib1g-dev, build-essential
Installed-Size: 272
Depends: bash, aria2, bittorrent
Maintainer: Hauke Goos-Habermann <hauke@goos-habermann.de>
Description: Compiles and installs opentracker.
