Package: m23-xhprof
Priority: optional
Architecture: all
Pre-Depends: php7.0-dev | php5-xhprof
Maintainer: Bastian Hesselbarth <bastian.hesselbarth@tesat.de>
Description: Installs xhprof customized for m23.
Version: 17.3-101037
Installed-Size: 1464
