Package: m23-mdk-helper
Version: 0.8.3-100204
Section: base
Priority: optional
Architecture: all
Installed-Size: 264
Pre-Depends: debconf
Depends: bash, dialog
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit - m23Translator
 Web application to translate the m23 help texts.

