Package: m23-vbox
Version: 12.4-100627
Section: base
Priority: optional
Architecture: all
Installed-Size: 136
Pre-Depends: debconf
Depends: bash, flwm, vnc4server, virtualbox-ose, gcc, g++, bcc, iasl, xsltproc, uuid-dev, zlib1g-dev, libidl-dev, libsdl1.2-dev, libxcursor-dev, libasound2-dev, libstdc++5, libhal-dev, libpulse-dev, libxml2-dev, libxslt1-dev, python2.5-dev | python2.7-dev, libqt4-dev, libcap-dev, xterm, x11vnc, screen, wget, bzip2, pwgen, dialog, ssh, sudo, xdialog | zenity, xautomation, xloadimage
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: VirtualBox OSE integration into m23
 This package installs VirtualBox OSE and other needed tools on the
 m23 server.
