Package: m23-mdk-client
Version: 13.3-100698
Section: base
Priority: optional
Architecture: all
Installed-Size: 55516
Pre-Depends: debconf
Replaces: m23-mdk-bootimage
Conflicts: m23-mdk-bootimage
Provides: m23-mdk-bootimage
Depends: bash, dialog, libxml-perl, libxml-writer-perl
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit - client bootimage
 All you need to create and maintain network bootimages in
 PXE and Etherboot format and ISO CDs for booting the
 installation system on the clients.
