Package: m23-skel
Version: 1.0-173
Section: base
Priority: optional
Architecture: all
Depends: bash
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: Skeleton files for new users.
