Package: m23-phpmyadmin
Version: 18.1-101086
Section: base
Priority: optional
Architecture: all
Installed-Size: 43752
Pre-Depends: debconf
Depends: bash
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: phpMyAdmin installation for m23
 This package installs a version of phpMyAdmin. If you would like to have a
 look into the database of m23 this is the tool of you choice.

