/***********************************
CSS File for m23
***********************************/


/*****************************/
/*Allgemeines Style für Links*/
/*****************************/

body {
  color:             	#000000;
  font-family :         Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
  background-color:		#FFFF99;
}

.title {
  color:				#0000FF;
  font-family:			Arial, Verdana, Helvetica;
  font-size:			18px;
  line-height:			20px;
}


table {
  color:             		#000000;
  font-family :         	Arial, Verdana, Helvetica, sans-serif; 
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
}

.a, a:link, a:active, a:visited {
  color : 			#1d1dc1;
  font-family :         	Tahoma, Arial, Verdana, Helvetica, sans-serif; 
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
  text-decoration : 		none;
}

a:hover {
  color : 			#7575C1;
  font-family :         	Tahoma, Arial, Verdana, Helvetica, sans-serif; 
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
  text-decoration : 	underline;
  cursor : 			pointer;
}


.normaltable {
  border-top :			1px solid #000000;
  border-bottom :		1px solid #000000;
  border-left :			1px solid #000000;
  border-right :		1px solid #000000;
  color:             		#000000;
  background-color:		#BBBBBB;
}

.highlight {
  color:             		#bb0000;
  font-family :         	Arial, Verdana, Helvetica, sans-serif; 
  font-weight : 		bold;
  font-size : 			12px;
  line-height : 		13px;

}

.menuhighlight {
  color:             		#bb0000;
  font-family :         	Arial, Verdana, Helvetica, sans-serif; 
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;

}

/* SUBTABLE */
.subtable {
  border-top :			1px solid #000000;
  border-bottom :		1px solid #000000;
  border-left :			1px solid #000000;
  border-right :		1px solid #000000;
  color:             	#000000;
  background-color:		#FFCC99;
  font-family :         Arial, Verdana, Helvetica, sans-serif; 
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
    position: 			relative; left: -3px; top: -3px;
}

.subhighlight {
  font-family :         Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		bold;
  font-size : 			12px;
  line-height : 		13px;
  color:				#0075EB;
}

.subtable a, .subtable a:link, .subtable a:active, .subtable a:visited {
  color : 			#1d1dc1;
  font-family :         	Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
  text-decoration : 		none;
}

.subtable a:hover {
  color : 			#1d1dc1;
  font-family :     Arial, Verdana, Helvetica, sans-serif;
  font-weight : 	normal;
  font-size : 		12px;
  line-height : 	13px;
  text-decoration : underline;
  cursor : 			pointer;
}

.subtable_shadow {
  position:   relativ;
  background-color: #333333;
}

.subhighlight_yellow {
  font-family :         Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		bold;
  font-size : 			12px;
  line-height : 		13px;
  color:				#FFFF1F;
}

.subhighlight_green {
  font-family :         Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		bold;
  font-size : 			12px;
  line-height : 		13px;
  color:				#00CC66;
}

.subhighlight_red {
  font-family :         Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		bold;
  font-size : 			12px;
  line-height : 		13px;
  color:				#CC0000;
}


.helptable {
  border-top :			1px solid #000000;
  border-bottom :		1px solid #000000;
  border-left :			1px solid #000000;
  border-right :		1px solid #000000;
  color:				#000000;
  background-color:		#CCCCBB;
  font-family :			Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
}

.newfeaturetable {
  border-top :			1px solid #000000;
  border-bottom :		1px solid #000000;
  border-left :			1px solid #000000;
  border-right :		1px solid #000000;
  color:             	#000000;
  background-color:		#FF9933;
  font-family :         	Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
}

.infotable {
  border-top :			1px solid #000000;
  border-bottom :		1px solid #000000;
  border-left :			1px solid #000000;
  border-right :		1px solid #000000;
  color:             	#000000;
  background-color:		#99CCFF;
  font-family :         	Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
}

.errortable {
  border-top :			1px solid #000000;
  border-bottom :		1px solid #000000;
  border-left :			1px solid #000000;
  border-right :		1px solid #000000;
  color:             	#000000;
  background-color:		#CF9E9E;
  font-family :         	Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
}

/* Style für Errors */
.inputerror {
  color : 			#ff0000;
  font-family :         	Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
  text-decoration : 		none;
}

.box {
  border-top :			1px solid #000000;
  border-bottom :		1px solid #000000;
  border-left :			1px solid #000000;
  border-right :		1px solid #000000;
  background-color:		#eeeee6;
  color:             		#000000;
  font-family :         	Arial, Verdana, Helvetica, sans-serif;
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
}

.mainbox {
  border-top :			0px solid #000000;
  border-bottom :		0px solid #000000;
  border-left :			0px solid #000000;
  border-right :		0px solid #000000;
  background-color:		#eeeee6;
  color:             	#000000;
  font-family :         Arial, Verdana, Helvetica, sans-serif; 
  font-weight : 		normal;
  font-size : 			12px;
  line-height : 		13px;
  /*
  background-image:		url(../logo.png);
  background-repeat:	no-repeat; 
  background-attachment: scroll;  
  background-position:	center;
  */
}

.navmenu {
	list-style-position:inside;
	list-style-image:url("/gfx/point.png");
	padding-left:17px;
	list-style-type:disc;
}

ul.navmenu {
 font-style:normal;
 margin: 5;
 padding: 0; 
 list-style-type: disc; 
}
