Package: m23-mdk-update
Version: 15.1-100763
Section: base
Priority: optional
Architecture: all
Installed-Size: 12128
Pre-Depends: debconf
Depends: bash, dialog
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit - update
 Tools for building updates for m23.

