Package: m23-grub-splash
Version: 1.0-171
Section: base
Priority: optional
Architecture: all
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: Adds a m23 splash screen to the GRUB boot manager.
