Package: m23-mb2009
Version: 0.8.5-100233
Section: base
Priority: optional
Architecture: all
Pre-Depends: debconf
Installed-Size: 96
Depends: m23
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: Musterbüro 2009
 Adds the Musterbüro 2009 that was shown at "Kieler Linux und OpenSource Tage"
 with a package selection and extra packages like media files.
