[Desktop Entry]
Icon=favicons/m23.sourceforge.net
Name=index.php
Type=Link
URL[$e]=http://m23.sourceforge.net/PostNuke-0.750/html/index.php?id=1000000280
X-KDE-LastOpenedWith=kfmclient_html
