Package: m23-mdk-server
Version: 14.2-100743
Section: base
Priority: optional
Architecture: all
Installed-Size: 1280
Pre-Depends: debconf
Replaces: m23-mdk-bootcd
Conflicts: m23-mdk-bootcd
Provides: m23-mdk-bootcd
Depends: bash, dialog, m23
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit - Server installation CD
 All tools needed for creating the bootable m23 server
 installation CD.
