Package: m23-debconf-woody
Version: 0.1-124
Section: base
Priority: optional
Architecture: i386
Depends: bash
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: adds debconf-get-selections and
 debconf-set-selections to a woody system.
 For notices about these both scripts see the
 debconf-utils package.
