Package: m23-ucs-extra
Version: 16.2-100884
Section: base
Priority: optional
Architecture: all
Pre-Depends: debconf
Installed-Size: 24
Depends: m23, apt-cacher-ng
Maintainer: Hauke Goos-Habermann <hauke@goos-habermann.de>
Description: Installs and configures extra stuff on UCS
