Package: m23-ksplash
Version: 1.0-147
Section: base
Priority: optional
Architecture: all
Depends: ksplash | ksplash-trinity
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 theme for ksplash.
