Package: m23
Version: 14.1-100741
Section: base
Priority: optional
Architecture: all
Pre-Depends: debconf
Installed-Size: 63176
Depends: bash, php4-mysql | php5-mysql, php4 | php5, mysql-client, mysql-common, mysql-server, apache | apache2, libapache-mod-ssl | php5-cli, apache-common | apache2.2-common, squid, squidclient, tftpd-hpa, etherwake, sudo, wget, dhcp3-server, bzip2, iputils-ping, dpkg-dev, libncurses5-dev, debootstrap, putty-tools, reprepro, syslinux | syslinux-common, php4-cli | php5-cli, screen, pwgen, dialog, ssh, m23-roms, m23-tftp, m23-mdk, dvd+rw-tools, mkisofs | genisoimage, cdrdao, cdrecord | wodim, wwwconfig-common, m23-ldap, m23-phpmyadmin, backuppc, p7zip, openssl, pciutils, tcpdump, gnupg, php5-curl, php5-mcrypt, gnutls-bin, apt-utils, gzip, dos2unix
Recommends: libapache2-mod-php5, apache2-utils, mknbi, curl, php-apc
Conflicts: ubuntu-keyring, ubuntu-minimal
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 software distribution and management system
 m23 is a software distribution and management system. With m23 you can install
 and administrate hundreds of clients! m23 can partition and format the clients
 and install a Debian operating system and thousands of software packages over
 an existing network. The entire management is done with the web administration
 interface wich can be reached from every computer that has access to the m23
 server.
