Package: m23-mdk-screenshots
Version: 19.1-101264
Section: base
Priority: optional
Architecture: all
Installed-Size: 9980
Pre-Depends: debconf
Depends: bash, dialog
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit screenshots for the manual
 Pregenerated screenshots for building the manual. This
 package is only needed if you don't or can't make your
 own screenshots and want to build the m23 manual. 

