Package: m23-mdk-screenshots
Version: 13.2-100693
Section: base
Priority: optional
Architecture: all
Installed-Size: 11800
Pre-Depends: debconf
Depends: bash, dialog
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit screenshots for the manual
 Pregenerated screenshots for building the manual. This
 package is only needed if you don't or can't make your
 own screenshots and want to build the m23 manual. 

