Package: m23-mb2008
Version: 0.6.4-100181
Section: base
Priority: optional
Architecture: all
Pre-Depends: debconf
Installed-Size: 36
Depends: m23
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: Musterbüro 2008
 Adds the Musterbüro 2008 that was shown at "Kieler Linux und OpenSource Tage"
 with a package selection and extra packages like media files.
