Package: m23-mdk-client-server
Version: 19.1-101217
Section: base
Priority: optional
Architecture: all
Installed-Size: 13816
Pre-Depends: debconf
Depends: bash, dialog
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit - common client and server parts
 This package contains all parts that are common between client
 bootimages and client boot CD and the server installation CD.
 For example: Linux kernel, root filesystem, compiled tools.

