Package: m23-ldap
Version: 20.1-101348
Section: base
Priority: optional
Architecture: all
Installed-Size: 4824
Pre-Depends: debconf, slapd, php4-ldap | php5-ldap | php7.0-ldap | php7.3-ldap, ldap-utils, php4-cli | php5-cli | php7.0-cli | php7.3-cli
Depends: bash
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: LDAP support for m23
 This packages adds LDAP support for m23 to manage accounts for your m23
 clients.
