Package: m23hwscanner-ubuntu
Version: 2.0-61
Section: base
Priority: optional
Architecture: all
Depends: bash, libc6 (>= 2.3.5-1), libglib1.2 (>= 1.2.0), libuuid1
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23hwscanner has 2 functions: 1. Scans the 
 hardware of the client and makes a server readable output.
 2. Generates fstab and lilo.conf from the partition table.
