Package: m23-initscripts
Version: 0.8-238
Section: base
Priority: optional
Architecture: all
Depends: bash
Recommends: hwinfo
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: adds startup files for hwsetup and fetching
 new instalation jobs after booting. Detects added and
 removed printers and configures CUPS. Configures XOrg
 in case of changed hardware

