Package: m23shared
Version: 11.1-100408
Section: base
Priority: optional
Architecture: all
Pre-Depends: debconf
Installed-Size: 42912
Depends: m23
Conflicts: ubuntu-keyring, ubuntu-minimal
Maintainer: Hauke Goos-Habermann <hauke@goos-habermann.de>
Description: m23 shared/enterprise is an enhancement to m23
 that allows the usage of m23 over the internet (or other large networks) and
 multiple customers sharing an m23 server. m23 shared/enterprise includes
 billing and automatic registration for the service.
