Package: m23-mdk
Version: 19.1-101219
Section: base
Priority: optional
Architecture: all
Installed-Size: 20
Pre-Depends: debconf
Depends: bash, dialog, m23-mdk-server, m23-mdk-client, m23-mdk-debs, m23-mdk-doc, m23-mdk-helper, m23-mdk-screenshots, m23-mdk-update, m23-mdk-base, m23-mdk-client-server, build-essential
Suggests: p7zip
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit
 Metapackage that installs all parts of the MDK.
