Package: toolchain-amd64
Version: 0.5.3-100097
Section: base
Priority: optional
Architecture: i386
Installed-Size: 220404
Depends:
Suggests: 
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: A toolchain with GCC and binutils used for
 cross compiling. The actual toolchain was created with
 Dan Kegel's crosstool from http://kegel.com/crosstool/.
