Package: m23-mdk-plugin
Version: 0.8.3-100204
Section: base
Priority: optional
Architecture: all
Installed-Size: 44
Pre-Depends: debconf
Depends: bash, dialog
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit documentation
 Example plugin for m23.
