#Config files and directories for the chat account manager
cfgChatDir='/var/www/chat/lib/data'
cfgChatC="$cfgChatDir/channels.php"
cfgChatU="$cfgChatDir/users.php"
cfgChatHtpasswd="/etc/apache/.chathtpasswd"
#Path to the RASChatAccountManager
RASChatAccountManager=~/RASChatAccountManager


#Full path on the RASServer to the script
RASServer="/home/ras/RASServer"
#Path to the config file
cfg=~/.apf/afserver.conf


