Package: m23-mdk-debs
Version: 19.1-101260
Section: base
Priority: optional
Architecture: all
Installed-Size: 19352
Pre-Depends: debconf
Depends: bash, dialog
Suggests: m23-mdk-screenshots
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit - package building
 Tools for creating the m23 Debian packages. This includes
 packages for installing the m23 server software and
 additional tools that are needed on m23 clients.

