#
# m23 KSplash/ML Theme
#

[KSplash Theme: m23]
Name = m23 KSplash Theme
Description = KDE loading theme for m23 clients.
Version = 1.0
Author = Hauke Goos-Habermann
Homepage = http://m23.sf.net

# Theme behavior settings.
Engine = Default

# Should icons blink ala KDE, or not?
Icons Flashing = true

# Configurable Messages.  You may specify messages in as many
# languages as you prefer.  Messages may be copied verbatim from
# this file, if you wish to maintain the default settings.
Message1 = Please wait, starting m23 client with KDE...
Message1[de] = Bitte warten, m23-Client mit KDE wird gestartet...
