Package: m23-mdk-helper
Version: 18.2-101140
Section: base
Priority: optional
Architecture: all
Installed-Size: 31836
Pre-Depends: debconf
Depends: bash, dialog
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit - helper
 This package contains self developped applications needed for
 different purposes around m23.
