Package: m23-mdk-helper
Version: 20.1-101306
Section: base
Priority: optional
Architecture: all
Installed-Size: 32544
Pre-Depends: debconf
Depends: bash, dialog
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: m23 development kit - helper
 This package contains self developped applications needed for
 different purposes around m23.
