Package: m23-tftp
Version: 12.4-100617
Section: base
Priority: optional
Architecture: all
Installed-Size: 86796
Pre-Depends: debconf
Depends: bash, m23, tftpd-hpa
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: TFTP boot images for m23
 This images are needed to boot the clients over network.
