Package: m23-tftp
Version: 13.1-100629
Section: base
Priority: optional
Architecture: all
Installed-Size: 193248
Pre-Depends: debconf
Depends: bash, m23, tftpd-hpa
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: TFTP boot images for m23
 This images are needed to boot the clients over network.
