Package: m23-tftp
Version: 16.3-100918
Section: base
Priority: optional
Architecture: all
Installed-Size: 159348
Pre-Depends: debconf
Depends: bash, tftpd-hpa
Maintainer: Hauke Goos-Habermann <hhabermann@pc-kiel.de>
Description: TFTP boot images for m23
 This images are needed to boot the clients over network.
